/*horizontal filters and product cards display settings*/
.filters--horizontal {
  display: flex;
}

@media screen and (max-width: 1025px)  {
  .filters--horizontal  {
    display: none;
  }
}

.filters--horizontal .filters__item {
  display: flex;
  align-items: center;
  padding: 7px 13px;
  border: 1px solid var(--c-black30);
  border-radius: 12px;
  font-size: 14px;
  background-color: var(--c-black60)
}

.filters--horizontal .filters__item:not(:last-of-type) {
  margin-right: 12px;
}

.display-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 20px 0;
}

@media screen and (max-width: 1025px)  {
  .display-settings  {
    display: none;
    visibility: hidden;
  }
}

.display-settings__view-settings button {
  padding: 0;
  font-size: 14px;
  color: var(--c-black10);
}

.display-settings__view-settings button:not(:last-of-type) {
  margin-right: 8px;
}

.display-settings__view-settings button svg {
  width: 18px;
  height: 18px;
}

.display-settings__view-settings button:active {
  color: var(--c-primary);
}

/*aside filter*/
.filters--vertical {
  grid-column: 1 / 2 !important;
}

@media screen and (max-width: 1025px)  {
  .filters--vertical  {
    display: none;
  }
}

.filters--vertical .filters__item {
  display: block;
}

.filters--vertical .filter__title {
  margin-bottom: 10px;
}

.filters--vertical .check {
  font-size: 14px;
}

.filters--vertical .filters__item:not(:last-of-type) {
  margin-bottom: 30px;
}

.filters--vertical .check:not(:last-of-type) {
  margin-bottom: 12px;
}

.filter--category p {
  position: relative;
}

.filter--category p:not(:last-of-type) {
  margin-bottom: 12px;
}

.filter--category span {
  position: absolute;
  right: 10px;
}

.filters__buttons {
  width: 60%;
  display: inline-flex;
  justify-content: space-between;
}
.filters__buttons .btn {
  padding: 10px 12px;
}

/*content of catalog*/
.catalog__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 15px 0;
}

@media screen and (max-width: 1025px)  {
  .catalog__content  {
    display: flex;
  }


  .catalog-heading {
    font-size: 24px;
  }
}

.catalog-heading {
  padding: 10px 0;
}


