@import "./imports.css";

/* sizes */

@custom-media --s (width <= 768px);
@custom-media --m (min-width: 769px);
@custom-media --xl (min-width: 1025px);
@custom-media --xl-sm (width <= 1025px);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1370px;
  min-width: 320px;
  padding: 0 46px;
  margin: 0 auto;
}

@media screen and (max-width: 1025px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 22px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    padding: 0 15px;
  }
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 15px 0;
}

.row-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 15px 0;
}

.row-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 15px 0;
}

.row-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 30px;
  padding: 15px 0;
}

.row-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  padding: 25px 0;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

table {
  border-collapse: collapse;
}

/* typography */
html {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  color: var(--c-primary);
  text-decoration: none;
  margin: 0;
}

button  {
  font-family: 'Poppins', sans-serif;
}


h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.lead {
  font-size: 16px;
}

.elemental {
  font-size: 14px;
}

.caption {
  font-size: 12px;
}

a {
  color: var(--c-secondary);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:hover,
a:focus  {
  color: var(--c-copper00);
  text-decoration-line: underline;
}

.underline {
  text-decoration-line: underline;
}

/* inputs */
input[type="search"],
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="number"],
textarea {
  padding: 4px 12px;
  background-color: var(--c-black70);
  border: 1px solid var(--c-black30);
  box-sizing: border-box;
  border-radius: 12px;
}

textarea {
  max-width: 100%;
  padding: 10px 16px;
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="number"] {
  width: 320px;
  height: 40px;
  -webkit-appearance: none;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
  border-color: var(--c-green20);
  box-shadow: 1px 1px 1px rgba(148, 173, 125, 0.3);
  color: var(--c-primary);
}

input + label {
  font-size: 12px;
}

/* buttons */
.btn {
  padding: 12px 16px;
  border-radius: 12px; 
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn--basic {
  background-color: var(--c-black50);
}

button:hover.btn--basic {
  background-color: var(--c-green30);
}

.btn--contrast-border {
  border-color: var(--c-secondary);
}

button:hover.btn--contrast-border {
  background-color: var(--c-green30);
}

.btn--contrast-back {
  color: var(--c-white);
  fill: var(--c-white);
  stroke: var(--c-white);
  background-color: var(--c-secondary);
  border-color: var(--c-green10);
}

a:hover.btn--contrast-back, 
button:hover.btn--contrast-back {
  color: var(--c-white);
  text-decoration: none;
  background-color: var(--c-copper00);
  border-color: var(--c-copper10);
}

.btn svg {
  vertical-align: middle;
}

.btn--icon-black svg {
  stroke: var(--c-primary);
}

.btn--icon-green svg {
  stroke: var(--c-secondary);
}

.btn--icon-gray svg {
  stroke: var(--c-black20);
}

.btn--icon-copper svg {
  stroke: var(--c-copper00);
}

.btn--icon-gray:hover svg,
.btn--icon-gray:active svg {
  stroke: var(--c-secondary);
}

.btn--icon-white svg {
  stroke: var(--c-white);
}

.btn--icon-rotate-right svg {
  transform: rotate(270deg);;
}

.btn--icon-rotate-left svg {
  transform: rotate(90deg);;
}

/* Ñheckboxes */
.check {
  display: block;
  padding-left: 30px;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -30px;
  border-radius: 2px;
  border: 1px solid var(--c-black30);
  cursor: pointer;
}

.check__input:checked + .check__box {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: var(--c-secondary);
  border: 1px solid var(--c-green10);
}

.check__input:checked + .check__box:before {
  content: "";
  position: absolute;
  left: 3px;
  top: 4px;
  width: 9px;
  height: 4px;
  border-radius: 1px;
  border-left: 3px solid var(--c-white);
  border-bottom: 3px solid var(--c-white);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .5s ease;
} 

.filters--horizontal .check__box {
  background-color: var(--c-white);
}

/*radio buttons*/
.radio {
  display: block;
  padding-left: 2em;
  font-size: 14px;
}

.radio:not(:last-of-type) {
  margin-right: 14px;
}

.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio__button {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -2em;
  border-radius: 50%;
  border: 1px solid var(--c-black30);
  background-color: var(--c-white);
  cursor: pointer;
  transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.radio__input:checked + .radio .radio__button {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border-radius: 50%;
  background-color: var(--c-primary);
  border: 1px solid var(--c-green10);
}

.radio__input:checked + .radio .radio__button:before {
  content: "";
  position: absolute;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: calc((100% - 10px) / 2);
  left: calc((100% - 10px) / 2);
  background-color: var(--c-white);
  transition: all .5s ease;
} 

/*select's styles*/
/* .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: var(--c-primary);
  width: 220px;
  height: 40px;
}

.select--styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: ;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select--styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: var(--c-black20) transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select--styled:hover {
  background-color: var(--c-black50);
}
.select--styled:active, .select-styled.active {
  background-color: var(--c-black50);
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent var(--c-black20) transparent;
}

.select__options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--c-black50);
}
.select__options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid var(--c-black20);
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select__options li:hover {
  color: var(--c-secondary);
  background: #fff;
}
.select__options li[rel="hide"] {
  display: none;
} */

/* tag-styled elements */
.tag {
  padding: 2px 9px;
  border-radius: 12px;
  font-weight: 600;
  background-color: var(--c-green40);
  color: var(--c-secondary);
}

/*breadcrumps*/ 
ul.breadcrumbs {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  font-size: 14px;
}

ul.breadcrumbs li {
  display: inline;
}

ul.breadcrumbs li+li:before {
  padding: 6px;
  color: var(--c-black20);
  content: "/\00a0";
}

/*pagination*/
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  font-size: 14px;
}

@media screen and (max-width: 560px) {
  .pagination {
    flex-wrap: wrap;
    padding: 20px 0;
  }
}

.pagination span {
  color: var(--c-black20);
}

.pagination__button {
  color: black;
  padding: 2px 6px;
  text-decoration: none;
}

@media screen and (max-width: 560px) {
  .pagination__more {
    order: 2;
    margin: 20px auto auto auto;
    padding: 11px 16px;
  }
}

.pagination__page:active {
  color: var(--c-secondary);
}

/*menu*/
.menu {
  background-color: var(--c-black60);
}

.menu__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
}

.menu__item {
  position: relative;
  padding: 15px 25px;
}

@media screen and (max-width: 1110px)  { 
  .menu__item  {
    padding: 15px 15px;
  }

  .menu__item.is-open {
    color: var(--c-secondary);
    padding: 15px 15px 0 15px;
  }
}

@media screen and (max-width: 1025px)  { 
  .menu__item  {
    cursor: pointer;
  }
}

.menu__chevron {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url(shevron-down.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  transition: transform .5s ease;
}

@media screen and (min-width: 1025px)  { 
  .menu__item:hover .menu__chevron {
    transform: rotateX(180deg);
  }
}

@media screen and (max-width: 1025px)  { 
  .is-open .menu__chevron {
    transform: rotateX(180deg);
  }
}

.menu__item:hover {
  background-color: var(--c-green30);
}

.menu {
  left: 100%;
}

@media screen and (max-width: 1025px)  { 
  .menu {
    display: none;
  }

  .menu--active {
    position: fixed;
    display: block;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--c-white);
    transition: left 0.3s ease-in 0s;
    overflow: auto;
  }

  .menu__list {
    display: block;   
  }
}

.nested-menu {
  position: absolute;
  top: 100%;
  right: auto;
  display: none;
  padding: 0;
  list-style: none;
  font-weight: 500;
  background-color: var(--c-white);
  z-index: 10;
  transition: all 0.3s ease-in;
}

.menu__item:last-of-type .nested-menu {
  right: 0;
}

@media screen and (min-width: 1025px) {
  .nested-menu {
    margin-left: -25px;
    background-color: var(--c-black60);
  }
} 

@media screen and (max-width: 1025px) {
  .nested-menu {
    position: relative;
    margin: 15px -15px 0 -15px;
  }
}

.nested-menu li {
  width: 200px;
  padding: 18px 20px;
}

.nested-menu li a {
  color: var(--c-primary);
}

@media screen and (max-width: 1025px) {
  .nested-menu li {
    width: auto;
    padding: 10px 0 10px 45px;
  }
}

.nested-menu li:hover {
  background-color: var(--c-green40);
}

.nested-menu li:hover a {
  text-decoration: underline;
  color: var(--c-copper10);
}

@media screen and (max-width: 1025px) {
  .is-open .nested-menu {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .menu__item:hover .nested-menu, 
  .nested-menu:hover {
    transform: translate(0px, 0px);
    overflow: hidden;
    display: block;
    cursor: pointer;
    visibility: visible;
  }
}