.header {
  padding-bottom: 15px;
}

/*top panel of header*/
.header__nav {
  border-bottom: 1px solid var(--c-black60);
}

.header__nav,
.header__nav ul {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1025px) {
  .header__nav {
    display: none;
  }
}

.header__nav ul {
  padding: 0;
  list-style: none;
  font-size: 12px;
}

.header__nav ul li:not(:last-child) {
  margin-right: 38px;
}

/*main part of header*/
.header__main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

header img.brand {
  object-fit: contain;
  width: 175px;
  height: 42px;
}

/*buttons of cart and account*/
.user {
  display: flex;
  align-items: center;
}

.user__btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.btn--account {
  margin-right: 15px;
  background-image: url(user.svg);
  background-size: 20px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.btn--basket {
  position: relative;
  background-image: url(basket.svg);
  background-size: 20px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.btn--basket span {
  position: absolute;
  top: 12px;
  left: -2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 10px;
  background-color: var(--c-copper20);
  color: var(--c-white);
}

/*search input*/
.search-bar {
  width: 450px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid var(--c-black30);
}

@media screen and (max-width: 1025px) {
  .search-bar  {
    align-self: flex-end;
    width: 200px;
    border: 1px solid transparent;
  }
} 

.search-bar input.search {
  width: 100%;
  height: 100%;
  padding-left: 190px;
  background-image: url(search.svg);
  background-size: 20px;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

@media screen and (max-width: 1025px) {
  .search-bar input.search {
    padding-left: 0;
    background-color: transparent;
  }

} 

.search-dropdown {
  position: absolute;
  width: 170px;
  max-width: 170px;
  user-select: none;
  font-weight: 700;
  font-size: 15px;
}

@media screen and (max-width: 1025px) {
  .search-dropdown {
    display: none;;
  }
}

.search-dropdown__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  z-index: 2;
}

.search-dropdown__options {
  display: none;
  border-radius: 0 0 16px 16px;
  background-color: var(--c-black60);
  pointer-events: none;
}

.open .search-dropdown__options {
  display: block;
}

.search-dropdown__options a {
  display: block;
  padding: 10px 15px 10px 15px;
}

.search-dropdown__options a:hover,
.search-dropdown__options a:focus {
  background-color: var(--c-black40);
}

.search-dropdown__selected {
  padding: 10px 20px;
  background-image: url(shevron-down.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.search-dropdown__selected::before {
  position: absolute;
  top: calc((100% - 24px) /2);
  right: 0;
  content: '';
  width: 1px;
  height: 24px;
  background-color: var(--c-black30);
}