/*product cards*/
.product {
  display: block;
  position: relative;
  border: 1px solid var(--c-black30);
  border-radius: 12px;
}

.products--compact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  gap: 30px;
}

@media screen and (max-width: 1025px)  {
  .products--compact {
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px)  {
  .products--compact {
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 560px)  {
  .products--compact {
    display: flex;
    flex-direction: column;
  }
}

.products--compact .product {
  flex-basis: 300px;
  padding: 16px;
}

.products--full .product {
  display: flex;
  gap: 30px;
  height: 280px;
}

@media screen and (max-width: 768px)  {
  .catalog__content .products--full .product {
    display: flex;
    height: min-content;
  }
}

@media screen and (max-width: 560px)  {
  .catalog__content .products--full .product {
    flex-direction: column;
    height: min-content;
    gap: 0;
  }
}

.products--full .product__exposition {
  display: flex;
  flex: 1;
  justify-content: space-between;
} 

@media screen and (max-width: 768px)  {
  .products--full .product__exposition {
    display: block;
    padding: 10px 10px 10px 0;
    margin: auto;
  }
}

@media screen and (max-width: 560px)  {
  .products--full .product__exposition {
    padding: 16px;
  }
}

.products--compact .product {
  display: block;
  gap: 30px;
  height: min-content;
}

.products--full .product:not(:last-of-type) {
  margin-bottom: 30px;
}

.products--full .product__image {
  width: 33.33%;  
  border-radius: 12px 0 0 12px;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px)  {
  .products--full .product__image  {
    width: 45%;
    max-height: 100%;
  }
}

@media screen and (max-width: 560px) {
  .products--full .product__image  {
    width: 100%;
    max-height: 240px;
    border-radius: 12px 12px 0 0;
  }
}

.products--compact .product__image {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

.products--full .product__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.products--compact .product__title {
  font-size: 15px;
  font-weight: 500;
}

.product__description {
  margin-bottom: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: var(--c-black20);
}

.products--full .product__description {
  font-size: 14px;
}

.products--compact .product__description {
  font-size: 12px;
}

.products--compact .product__rating {
  display: none;
}

.products--compact .product__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.products--full .product__info,
.products--full .product__buy {
  padding: 22px 0;
}

@media screen and (max-width: 768px)  {
  .products--full .product__info,
  .products--full .product__buy  {
    padding: 0;
    margin: auto;
  }
}

.products--full .product__buy {
  padding-right: 22px;
}

@media screen and (max-width: 880px)  {
  .products--full .product__buy {
    padding-right: 10px;
  }
}

@media screen and (max-width: 768px)  {
  .products--full .product__buy {
    padding-right: 0;
  }
}

@media screen and (max-width: 560px) {
  .products--full .product__buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 560px) {
  .products--full .product__info,
  .products--full .product__buy {
    padding: 0;
  }
}

.products--full .product__specs {
  border-collapse: collapse;
  font-size: 14px;
  color: var(--c-black20);
}

@media screen and (max-width: 768px)  {
  .products--full .product__specs  {
    display: none;
  }
}

.products--compact .product__specs {
  display: none;
}

.product__specs td:first-of-type {
  width: 120px;
}

.product__specs td {
  height: 30px;
}

.products--full .product__delivery-info {
  margin-bottom: 20px;
}

.products--compact .product__delivery-info {
  display: none;
}

.products--full .product__pricing {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .products--full .product__pricing {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 560px) {
  .products--full .product__pricing {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 560px) {
  .products--full .product__pricing,
  .product__delivery-info,
  .product__btn  {
    width: 47%;
  }
}

.product__price--new {
  font-weight: 600;
}

@media screen and (max-width: 420px)  {
  .product__price--new   {
    font-size: 20px;
  }
}

.product__price--old {
  text-decoration: line-through;
  font-weight: 500;
  color: var(--c-black20)
}

.product__delivery-info {
  margin-bottom: 26px;
}

.product__delivery-cost {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--c-black20);
}

.product__delivery-duration {
  font-size: 14px;
  color: var(--c-black20);
}

.product__btn {
  display: block;
  padding: 8px 8px;
}

.product .btn--detail,
.product .btn--wishlist {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px)  {
  .btn--wishlist {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 560px)  {
  .btn--detail {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px)  {
  .product__btn {
    width: 100%;
  }
  .btn--detail {
    margin-bottom: 15px;
  }
}

.products--full .btn--buy-now {
  display: none;
}

.products--compact .btn--detail,
.products--compact .btn--wishlist {
  display: none;
}

.product .onsale {
  position: absolute;
  padding: 2px 10px;
  top: 38px;
  left: 34px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--c-green40);
  color: var(--c-secondary);
  z-index: 2;
}
