/*product page*/
.catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 60px;
  padding: 15px 0;
}

@media screen and (max-width: 1025px) {
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 30px;
  }
}

@media screen and (max-width: 1025px) {
  .catalog-item__pics {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .catalog-item__pics {
    display: flex;
  }
}

@media screen and (max-width: 560px) {
  .catalog-item__pics {
    display: flex;
    flex-direction: column;
  }
}

.catalog-item__pic {
  height: 430px;
  border-radius: 12px;
}

.catalog-item__pic:not(:last-of-type) {
  margin-bottom: 30px;
}

@media screen and (max-width: 1025px) {
  .catalog-item__pic {
    width: 30%;
    max-height: 270px;
    margin-bottom: 0;
  }

  .catalog-item__pic:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .catalog-item__pic {
    width: 47%;
    max-height: 350px;
    margin-bottom: 0;
  }

  .catalog-item__pic:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .catalog-item__pic {
    width: 100%;
    max-height: 430px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .catalog-item__pic {
    width: 100%;
    max-height: 340px;
    margin-bottom: 0;
  }
}

.catalog-item__heading {
  margin-bottom: 10px;
  line-height: 1;
}

.catalog-item__rating-wrapper {
  margin-bottom: 25px;
}

.catalog-item__short-info {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .catalog-item__short-info {
    margin-bottom: 24px;;
  }
}

.catalog-item__specs {
  width: 100%;
}

.catalog-item__specs tr {
  display: flex;
}

@media screen and (max-width: 768px) {
  .catalog-item__specs tr {
    display: block;
  }
}

.catalog-item__specs td {
  display: flex;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .catalog-item__specs td {
    display: block;
    width: 100%;
  }
}

.catalog-item-specs__col {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .catalog-item-specs__col tr {  
    display: flex;
  }
}

.catalog-item-specs__col th {
  width: 45%;
}


@media screen and (max-width: 768px) {
  .catalog-item-specs__col th {
    width: 55%;
  }
}

@media screen and (max-width: 480px) {
  .catalog-item-specs__col th {
    width: 85%;
  }
}

.catalog-item__specs th,
.catalog-item__specs td {
  padding: 5px 0;
}

.catalog-item__specs th {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--c-black20);
}

.catalog-item__specs td {
  font-size: 14px;
}

.catalog-item__buy {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 20px 0;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--c-black40);
}

@media screen and (max-width: 768px) {
  .catalog-item__buy {
    padding: 16px 25px;
  }
}

@media screen and (max-width: 768px) {
  .catalog-item__buy {
    padding: 14px;
  }
}

.catalog-item__buy .catalog-item__price {
  font-weight: 600;
  font-size: 18px;
  color: var(--c-secondary);
}

@media screen and (max-width: 768px) {
  .catalog-item__buy .catalog-item__price {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .catalog-item__buy .catalog-item__price {
    font-size: 18px;
  }

  .catalog-item__buy .btn {
    padding: 4px;
  }
}

.catalog-item__price--old {
  font-weight: 600;
  font-size: 14px;
  text-decoration: line-through;
  color: var(--c-black30);
}

@media screen and (max-width: 768px) {
  .catalog-item__price--old {
    font-size: 29px;
  }
}

@media screen and (max-width: 480px) {
  .product__additional-btns button.btn {
    padding: 5px 16px;
  }
}

/*tabs*/
/*description tab*/
.tabs {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tab {
  display: flex;
  flex-direction: column;
}

.tab input { 
  display: none; 
} 

.tab__heading {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.tab__heading:hover {
  color: var(--c-copper10);
}

.tab__heading:active,
.tab__heading:focus {
  outline: none;
  color: var(--c-secondary);
  border-bottom: 1px solid var(--c-black30);
}

.tab__heading::after {
  content: '+';
  position: absolute; 
  top: calc((100% - 22px)/2);
  left: 96%;
  color: var(--c-secondary);
}

.tab__heading:hover:after{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

input:checked ~ .tab__heading::after {
  content: "-";
}

.tabs button:focus {
  outline: none;
  border-bottom: 2px solid var(--c-green20);
}


.tab__content {
  display: none;
}

input:checked ~ .tab__content {
  display: block;
}

.tab h3 {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 15px; 
}

.description__point:not(:last-of-type) {
  margin-bottom: 30px;
}

.description__vitamins  {
  width: 100%;
  margin-top: 25px;
  text-align: left;
}

.description__vitamins tr:first-of-type {
  border-bottom: 2px solid var(--c-black40);
}

.description__vitamins th {
  width: calc(100% / 3);
  padding: 7px 0;
  font-weight: 600;
  font-size: 12px;
}

.description__vitamins td {
  width: calc(100% / 3);
  padding: 7px 0;
  font-weight: normal;
  font-size: 14px;
  color: var(--c-black20);
}

/*review's tab*/
.review__list {
  padding: 0;
  list-style: none;
}

.review__item {
  display: flex;
}

.review__item:not(:last-of-type) {
  margin-bottom: 28px;
}

@media screen and (max-width: 768px) {
  .review__item:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.review__rating {
  align-self: center;
  font-size: 18px;
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  .review__rating {
    margin-right: 18px;
  }
}

@media screen and (max-width: 768px) {
  .catalog-item  .product__rating {
    margin-bottom: 0;
    font-size: 18px;
  }
}
.review__reviewer {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--c-black40);
}

.reviewer__name {
  font-weight: 600;
}

.review__date {
  font-size: 12px;
  font-style: italic;
  color: var(--c-black20);
}

.review__text {
  margin-top: 10px;
  color: var(--c-black10);
  font-size: 14px;
}

/*questions block*/
.questions__list {
  padding: 0;
  list-style: none;
}

.questions__item:not(:last-of-type) {
  margin-bottom: 36px;
}

.question {
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 1px solid var(--c-black40);
}

.question__author {
  font-weight: 500;
  color: var(--c-green10);
}

.question__date {
  font-size: 12px;
  font-style: italic;
  color: var(--c-black20);
}

.question__answer-wr {
  position: relative;
  padding-left: 55px;
  padding-top: 12px;
}

.question__answer-wr svg {
  position: absolute;
  top: 8px;
  left: 27px;
  width: 1.4em;
  height: 1.2em;
  stroke: var(--c-black20);
}

/*related products*/
.related-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 15px 0;
}

@media screen and (max-width: 1025px) {
  .related-products {
    grid-template-columns: repeat(3, 1fr);
  }

  .related-products .product:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .related-products {
    grid-template-columns: repeat(2, 1fr);
  }

  .related-products .product:nth-child(3) {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .related-products {
    display: flex;
  }

  .related-products .product:nth-child(3), 
  .related-products .product:nth-child(4) {
    display: none;
  }
}

.catalog-item__related-products h3 {
  font-size: 17px;
  margin-bottom: 10px;
}
